@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700;900&display=swap');

  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    font-family: 'Montserrat', sans-serif !important;
}

/* =================================== Header ==================================== */

.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.header > * {
    color: #546E4D;
}

.btn-header {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    gap: .3rem;
    padding: .3rem .7rem 0 .7rem;
    border-radius: 24px;
    border: 1px solid #546E4D;
    cursor: pointer;
    transition: .33s;
}

.btn-header > h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.btn-header > i {
    font-size: 1.3rem;
    margin-top: -6px;
}

.btn-header:nth-child(2) {
    background: #546E4D;
}

.btn-header:nth-child(2) > * {
    color: #fefefe;
}

.btn-header:nth-child(1):hover {
    background: #546E4D;
}

.btn-header:nth-child(1):hover > * {
    color: #fefefe;
}

.btn-header:nth-child(2):hover {
    background: #fefefe;
}

.btn-header:nth-child(2):hover > * {
    color: #546E4D;
}

.image-logo {
    position: absolute;
    width: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}

/* =================================== Sub Header ==================================== */

.sub-header {
    background: #F7F4EB;
    text-align: center;
}

.sub-header-2 {
    text-align: center;
}

.sub-header > h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #9A9A9A;
}

.sub-header > h1 {
    font-family: Montserrat;
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    color: #506849;
}

.btn-start {
    background: #F6C63B;
    width: 220px;
    height: 50px;
    top: 503px;
    left: 820px;
    border-radius: 30px;
    color: #546E4D;
    border: none;
    font-weight: 700;
}

/* =================================== Main ==================================== */
.container-card-animation {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-card-animation {
    width: 60%;
}

.container-text-animation {
    padding: 2rem;
}

.container-text-animation > h1 {
    color: #707070;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.container-text-first-row {
    width: 35%;
    text-align: left;
}

.container-text-first-row > h2 {
    font-size: 1.2rem;
    color: #707070;
    font-family: sans-serif !important;
    font-weight: 100 !important;
}

.container-text-first-row > h1 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #546E4D;
}

.span-text {
    color: #F6C63B;
}

.container-image-3 {
    width: 100%;
    text-align: center;
}

.footer {
    background: #556F4D;
    padding: 4rem;
}

.footer > section > img {
    width: 23rem;
}

.footer > section {
    display: flex;
    justify-content: space-between;
}

.footer > section > div > h3 {
    font-size: .8rem;
    color: #fefefe;
}

.container-search {
    background: #fefefe;
    padding: .3rem .8rem;
    border-radius: 24px;
}

.container-search > input {
    font-size: .8rem;
    border: none;
    outline: none;
}

.btn-search {
    background: #F6C63B;
    color: #fefefe;
    border: none;
    border-radius: 18px;
}

.container-footer > ul {
    row-gap: .5rem;
}

.container-footer > ul > li {
    list-style: none;
    margin-left: -30px
}

.container-footer > ul > li > a {
    color: #fefefe;
    text-decoration: none;
    font-family: sans-serif !important;
    font-weight: 600;
    font-size: .85rem;
}

.container-footer {
    display: flex;
    gap: 4rem;
}

.footer > nav {
    display: flex;
    justify-content: space-between;
}

.container-links-layout {
    display: flex;
    gap: 2rem;
}

.container-links-layout > div {
    background: #506849;
    height: 70px;
    width: 70px;
    display: grid;
    border-radius: 50%;
    place-content: center;
    cursor: pointer;
}

.text-yellow {
    color: #F6C63B;
    font-weight: 900;
    margin-top: -20px;
}

.termos {
    width: 50%;
    display: flex;
    align-items: center;
}

.termos > span {
    color: #fefefe;
}

.termos > a {
    font-size: .7rem !important;
    font-family: sans-serif !important;
    text-decoration: none;
    color: #fefefe;
}

.link-conta {
    font-size: .8rem !important;
}

.container-articles {
    background: #506849;
    display: flex;
    justify-content: space-between;
    padding: .5rem 4rem;
    align-items: center;
}

.container-articles > h3 {
    font-size: .7rem;
    color: #fefefe;
    font-family: sans-serif !important;
}

.container-articles > img {
    width: 3.2rem;
}

.bxs-chevron-up {
    position: absolute;
    margin-left: 43%;
    color: #fefefe;
    font-size: 2.5rem;
    cursor: pointer;
}

.image-res-bug {
    width: 70%;
    height: 70%;
}

.image-card-element {
    /* width: 80%; */
    width: 350px;
}

.image-card-element:nth-child(1) {
    margin-left: 90px;
}

.item {
    padding: 0 4rem;
}

.container-text-first-row {
    width: 50%;
}

.termos > span {
    margin-top: -5px;
}

.trail-responsive {
    display: none;
}

.trail-responsive > img {
    width: 200px;
}

.container-image-first-row:nth-child(1) {
    display: flex;
    justify-content: center;
}

.container-image-first-row:nth-child(2) {
    display: flex;
    justify-content: center;
}

.container-image-first-row:nth-child(3) {
    display: flex;
    justify-content: center;
}

.first-row {
    padding: 0 10rem;
}

.sub-header-2 > h3 {
    color: #556F4D;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.word-title {
    color: #F6C63B;
    text-align: center;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-header-2 > h1 {
    color: #707070;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-page {
    padding: 0 1.5rem;
}

.first-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-pets {
    gap: .6rem;
}

.image-pets > img {
    width: 140px;
}

.card-pets {
    text-align: center;
}

.names-pet {
    color: #546E4D;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-pets > svg {
    margin-top: 50px;
    margin-left: -30px;
    position: absolute;
}

.container-ads {
    width: 100%;
    height: 200px;
    margin-top: 150px;
    display: grid;
    place-content: center;
}

.container-ads > div {
    background: #E5E5E5;
    width: 750px;
    height: 100px;
    flex-shrink: 0;
    display: grid;
    place-content: center;
}

.container-ads > div > h3 {
    color: #9A9A9A;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 10px;
}

.container-button-loading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-loadingMore {
    width: 380px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #F6C63B;
    color: #546E4D;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    transition: .33s;
}

.btn-loadingMore:hover {
    background: #546E4D;
    color: #fefefe;
}

.icon-back-responsive {
    display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.first-row-card {
    display: flex;
    gap: 2rem;
    padding: 0 5rem;
}

.container-row-1 {
    width: 50%;
    height: 100% !important;
}